.heading {
  display: flex;
  justify-content: center;
}
h1 {
  color: black;
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Titan One', cursive;
  font-size: 60px;
}
#country {
  font-size: 25px;
}
.input-search {
  display: flex;
}
#search {
  flex: 1;
  padding: 10px;
  font-size: 15px;
}
.recipes {
  display: flex;
  flex-wrap: wrap;
}
.photo {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}
body{
  background-color: rgb(222, 222, 222);
}
a {
  text-decoration: none;
  color: black;
  font-size: 40px;
  display: flex;
  justify-content: center;
}